body{
	max-width: 900px;
	margin: 0 auto;
	background-color: #fffaf6;
	font-size: 100%;
	line-height: 1.3;
}

p{
	font-size: 100%;
}

/*----------------Headings------------*/

h1 {
	text-align: center;
	font-family:'VAG Rounded W01 Bold';
	text-shadow: 4px 3px 1px #d3cfcc;
}

h2, h3, h4, h5, h6{
	font-size: 1.5em; /*24px*/
	text-align: center;
	font-family:'VAG Rounded W01 Bold';
	text-shadow: 4px 3px 1px #d3cfcc;
	margin-bottom: -.222222222222%; /*-2px;*/
}

header img{
	width: 100%;
}

/*-------------Intro--------------------*/

aside{
	-moz-column-count: 2;
	column-count: 2;
	padding: .555555555556%; /*5px*/
}

aside li {
	list-style-type: circle;
}

/* ------------Navigation---------------- */

nav{
	text-align: center;
	background-color: #b878dc;
	width: 100%; /*900px*/
	padding: .111111111111%; /*1px*/
	border-radius: 5px;
}

nav li{
	display: inline;
	padding: 1.11111111111%; /*10px*/
	text-align: center;
	list-style-type: none;
}

/*-------------About the Artist------------*/

.about{
	background-color: #f5c8ee;
	border-radius: 5px;
	padding: .555555555556%; /*5px*/
}

.about img{
	float: left;
	padding-right: .555555555556%; /*5px*/
	width: 13.555555555556%; /*122px*/
}

/*------------Product Gallery------------------*/

.gallery li{
	float: left;
	list-style-type: none;
	margin: 0 auto;
	padding: .222222222222%; /*2px;*/
	width: 31% /*279px*/
}

img{
	max-width: 100%;
}

/*-------------Links--------------------*/

a:link{
	color: #fff;
	font-weight: bold;
	font-size: 1.5em; /*24px;*/
	text-decoration: none;
}

a:visited{
	color: #f5c8ee;
}

a:hover{
	color: #f5c8ee;
}

a:active{
	color: #fff;
}

/*--------------Contact Form--------------*/

.contact{
	margin: 0 auto;
	background-color: #f5c8ee;
	border-radius: 5px;
	padding: .555555555556%; /*5px*/
	text-align: center;
}

form{
	margin: 0 auto;
	text-align: center;
}

input{
	margin: .222222222222%; /*2px;*/
}

input:focus{
	background-color: #bfebc5;
}

textarea{
	margin: .222222222222%; /*2px;*/
}

textarea:focus{
	background-color: #bfebc5;
}



/*-------------footer---------------*/
footer{
	text-align: center;
}

/*--------MEDIA QUERIES------------*/

/* Desktops, laptops, and tablets portrait size */
@media screen and (min-width: 768px) and (max-width: 899px) {

h1{
	font-size: 1.4375em; /*23px*/}

h2, h3, h4, h5, h6{
	font-size: 1.25em; /*20px*/}

a:link{
	font-size: 1.25em; /*20px*/}


}


/* Mobile landscape size to tablet portrait size */
@media only screen and (min-width: 480px) and (max-width: 767px) {

.about img{
	display: none;}

h1{
	font-size: 1.375em; /*22px*/}

h2, h3, h4, h5, h6{
	font-size: 1.125em; /*18px*/}

a:link{
	font-size: 1.125em; /*18px;*/}

}

/* Mobile portrait size to mobile landscape size */
@media only screen and (max-width: 479px) {

header img{
	display: none;}
	
.about img{
	display: none;}
	
h1{
	font-size: 1.375em; /*22px*/}

h2, h3, h4, h5, h6{
	font-size: 1.125em; /*18px*/}

a:link{
	font-size: 1em; /*16px;*/}
	
aside{
	-moz-column-count: 1;
	column-count: 1;

}